<launch>

  <node pkg="camera_info_publisher" type="camera_info_publisher_node" name="camera_info_publisher" output="screen">
    <rosparam>
      image_topic: /snake_cam/color_image
      img_height: 480
      img_width: 640
      fx = 579.7038
      fy = 578.5113
      cx = 323.2137
      cy = 235.8405
    </rosparam>
  </node>

</launch>
